node_modules
**/node_modules
dist
**/dist
.next
**/.next
.git
.github
.env
.env.*
!.env.example
backups
coverage
*.log
apps/web/tsconfig.tsbuildinfo
apps/backend/coverage

secrets
certificates
apps/mobile/build
apps/mobile/.dart_tool
apps/mobile/android/.gradle
